node_modules/

.env
.env.*
!.env.example

.DS_Store
*.log
*.tgz
.idea/
.vscode/
.nyc_output/
coverage/
dist/
build/
tmp/
temp/
downloads/
cypress.env.json
reports/
cypress/screenshots/
cypress/videos/
reports/screenshots/
reports/videos/
allure-results/
allure-report/
test-results/
playwright-report/
